@import '../../../assets/css/01-settings/__imports.scss';
@import '../../../assets/css/02-tools/__imports.scss';

.container {
  padding-left: $rhythm / 2;
  padding-right: $rhythm / 2;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
