// 02/TOOLS/MIXINS - GRID

@import "../../settings/layout";
@import "../../settings/spacings";

// Usage
// @include grid

@mixin grid() {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $gutter;
}
