@import '~sassSettings';
@import '~sassTools';

.container {
  min-height: 50vh;
  padding: $gutter $rhythm;

  @include bp(10) {
    height: 100vh;
    padding-top: $rhythm * 2;
  }
}

.search {
  color: #cbcfd4;
  background: $brand-a;
}

.result {
  color: white;
  background: $brand-b;
}

