// 01-SETTINGS/CORE

// CORE FONT-SIZE/LINE-HEIGHT IN PX'S
$font-size-px     : 16px;
$line-height-px   : $font-size-px * 1.5;

// LAYOUT
$max-width        : 1224px;
$grid-columns     : 12;

// SPACINGS
$rhythm : $line-height-px / $font-size-px * 1rem;
$gutter : 20px / $font-size-px * 1rem;

// PATHS
$img-path         : 'assets/img';
