/* --------------------------------------------------
// 01/SETTINGS/VARS - GLOBAL VARIABLES
// -------------------------------------------------- */

$font-size-px           : 16px;
$line-height-px         : $font-size-px * 1.5;

// $font-url              : '';

// FONT SETTINGS (GLOBAL)
$font-family           : sans-serif;
$font-size             : 100%;
$line-height           : $line-height-px / $font-size-px;

// HEADINGS
$heading-font-family   : inherit;
$heading-font-weight   : 700;
