/* --------------------------------------------------
// 01/SETTINGS - VARIABLES
// -------------------------------------------------- */

// $font-url              : '';

$font-size-px           : 16px;
$line-height-px         : $font-size-px * 1.5;

// FONT SETTINGS (GLOBAL)
$font-family           : sans-serif;
$font-size             : 100%;
$line-height           : $line-height-px / $font-size-px;

// HEADINGS
$heading-font-family   : inherit;
$heading-font-weight   : 700;

// SPACINGS
$rhythm                : $line-height-px / $font-size-px * 1rem;
$gutter                : 20px / $font-size-px * 1rem;

// COLOURS
$bg                    : #fff;
$text                  : #000;
$links                 : #blue;
$borders               : #fff;

$brand-a               : #fff;

$info                  : #e0ebf0;
$warn                  : #efac4d;
$error                 : #dd3522;
$success               : #5cb75c;

$facebook              : #3b5897;
$twitter               : #00aceb;
$google                : #de4e3b;
$instagram             : #517fa4;

$youtube               : #bd0000;
$html                  : #fca140;
$css                   : #2489ae;
$js                    : #fac552;
$misc                  : #737373;

// MISC
$transition-duration   : 250ms;
$border-radius         : 6px;
$max-width             : 1224px;
$img-path              : 'assets/img';
