// ========================================================================
// BASE/TYPOGRAPHY
// ========================================================================

// Remove default margin top and bottom and inherit font size and font weight

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
}

// Remove default margin top and bottom

p {
  margin-top: 0;
  margin-bottom: 0;
}
